.recipe-creator {
  grid-area: main;
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;

  .label{
    font-size: 15px;
  }

  .creator-input {
    margin-bottom: 15px;
  }

  .creator-textarea {
    min-height: 150px;
  }

  .image-upload {
    align-self: center;
    margin: 40px;
  }

  .image-preview {
    width: 500px;
    align-self: center;
    margin-bottom: 10px;
  }

  .btn-block {
    margin-top: 15px;
    align-self: flex-end;
  }

  .cropper-btn {
    margin-top: 10px;
    font-size: 26px;
    align-self: flex-end;

    &:hover{
        cursor: pointer;
    }
  }
}

@media screen and (max-width:600px){
  .recipe-creator{
    padding: 5px;
    
    .image-upload{
      margin: 15px;
    }
  }
}
