.recipe-list-history-item {
  display: flex;
  margin-bottom: 10px;

  .recipe-list-history-item-image {
    height: 100px;
  }

  .recipe-list-history-item-info {
    margin-left: 10px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .recipe-list-history-item-title {
      max-width: 100%;
      font-weight: 600;
      word-wrap: break-word;
    }

    .recipe-list-history-item-description {
      color: rgb(99, 97, 97);
      max-width: 100%;
      overflow: hidden;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 40px;
    }

    .recipe-list-history-item-date{
      color: rgb(99, 97, 97);
    }
  }
}

@media screen and (max-width:600px){
  .recipe-list-history-item{
    display: flex;
    flex-direction: column;

    .recipe-list-history-item-image{
      width: 70%;
      height: auto;
      align-self: center;
    }

    .recipe-list-history-item-info{
      padding: 10px;
      width: 100%;
      align-self: center;
       
      .recipe-list-history-item-title{
        align-self: center;
      }

      .recipe-list-history-item-date{
        align-self: flex-end;
      }
    }
  }
}
